
<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <img
      [src]="product().images | productImage"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title font-montserrat text-accent text-lg hover:underline cursor-pointer"
    [routerLink]="['/product', product().slug]">
      {{product().title}}
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>{{product().description}}</p>
    <a class="link link-accent" [routerLink]="['/product', product().slug]"  >More</a>
  </div>
</div>
